*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    position: fixed;
    background-image: url(./pic2.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: scroll;
    height:100vh;
    width:100%;
    margin-left:10px ;
}
.login{
        align-items: center;
        display: flex;
        height:300px;
        width:300px;
        color: beige;
        padding: 10px;
        margin-top:100px ;
}
.inputbox{
    color: beige;
    padding: 13px;
    size: 6;
    height: 40px;
    margin-left: 15px;
    
}
.btn{
    padding-left: 28px;
    padding-top: 10px;
}
.signup a{
        color: rgb(231, 156, 226);
}
.header{
    position: fixed;
    top: 0%;
    left:0%;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header1{
    position: fixed;
    top: 20%;
    left: 0%;
    width: 100%;
    padding:20px 100px ;
    background: transparent;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: 2px solid white;
}
.logo{
    height:50px;
    width: 50px;
}
.logo1{
    height: 50px;
    width:50px;
    margin-right: 600px;
}
.logo a{
    color: beige;
    font-size: 32px;
}
.navbar a{
    position: relative;
    font-size: 18px;
    color: beige;
    font-weight: 500;
    text-decoration: none;
    margin-left:40px;
}
.navbar a::before{
    content:'';
    position:absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background:#fff;
    transition: .3s;
}
.navbar a:hover::before{
    width: 100%;
}
.detail{
    height: 30px;
    border-radius: 8px;
    width: 180px;
    border: 0px;
    padding: 8px;
}
.k{
    height: 20px;
    width: 80px;
    border-radius: 8px;
    border: 0px;
}
